<!DOCTYPE html>
<html>
<head>
    <title>Search Page</title>
</head>
<body>
    <form action="/search" name="form">
    <img src="/images/22.png">
        <input type="text" name="q" placeholder="Search...">
          <input type="submit" value="search">
    </form>
</body>
</html>
